crispy-forms-materialize==0.1
Django==1.10
django-crispy-forms==1.6.0
django-debug-toolbar==1.5
django-filter==0.14.0
django-floppyforms==1.7.0
django-materialize-css==0.0.1
django-sitetree==1.6.0
django-widget-tweaks==1.4.1
djangorestframework==3.4.6
gunicorn==19.6.0
Markdown==2.6.6
sqlparse==0.2.1
